@{
    ViewBag.Title = "View Accommodation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Accommodation</h2>
<p>
    @ViewBag.Message
</p>
<p>
    @Html.ActionLink("Back to Details", "ViewParticipant", "Participant", new { id = ViewBag.ParticipantId }, null)
</p>
<p>
    @Html.ActionLink("Request Accommodation", "RequestAccommodation", "Accommodation", new { id = ViewBag.ParticipantId }, null)
</p>