@{
    ViewBag.Title = "View Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Transport</h2>
<p>
    @ViewBag.Message
</p>
<p>
    @Html.ActionLink("Back to Details", "ViewParticipant", "Participant", new { id = ViewBag.ParticipantId }, null)
</p>
<p>
    @Html.ActionLink("Request Transport", "RequestTransport", "Transport", new { id = ViewBag.ParticipantId }, null)
</p>