@model ESF.Core.Services.ScheduledSportEventDetail

@{
    ViewBag.Title = "SignUpGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up Grid</h2>

<ul>
    <li style="width: 20%;float: left">
        <span>Friday Morning</span>
        <ul>
            <li><input type="checkbox"/><label>Sport 1</label></li>
            <li><input type="checkbox"/><label>Sport 2</label></li>
            <li><input type="checkbox"/><label>Sport 3</label></li>
            <li><input type="checkbox"/><label>Sport 4</label></li>
        </ul>
    </li>
    <li>
        <span>Saturday Morning</span>
        <ul>
            <li><input type="checkbox"/><label>Sport 5 (All Day)</label></li>
            <li><input type="checkbox"/><label>Sport 6</label></li>
            <li><input type="checkbox"/><label>Sport 7</label></li>
            <li><input type="checkbox"/><label>Sport 8</label></li>
            <li><input type="checkbox"/><label>Sport 9</label></li>
            <li><input type="checkbox"/><label>Sport 10</label></li>
        </ul>
    </li>
    <li>
        <span>Saturday Afternoon</span>
        <ul>
            <li><input type="checkbox"/><label>Sport 10</label></li>
            <li><input type="checkbox"/><label>Sport 11</label></li>
            <li><input type="checkbox"/><label>Sport 12</label></li>
        </ul>
    </li>
    <li>
        <span>Sunday Morning</span>
        <ul>
            <li><input type="checkbox"/><label>Sport 13</label></li>
            <li><input type="checkbox"/><label>Sport 14</label></li>
            <li><input type="checkbox"/><label>Sport 15</label></li>
            <li><input type="checkbox"/><label>Sport 16</label></li>
            <li><input type="checkbox"/><label>Sport 17</label></li>
            <li><input type="checkbox"/><label>Sport 18</label></li>
        </ul>
    </li>
    <li>
        <span>Sunday Afternoon</span>
        <ul>
            <li><input type="checkbox"/><label>Sport 5</label></li>
            <li><input type="checkbox"/><label>Sport 6</label></li>
            <li><input type="checkbox"/><label>Sport 7</label></li>
            <li><input type="checkbox"/><label>Sport 8</label></li>
            <li><input type="checkbox"/><label>Sport 9</label></li>
            <li><input type="checkbox"/><label>Sport 10</label></li>
        </ul>
    </li>
</ul>